/* 전체박스에 대한 내외부 여백 0 */
* {
    margin: 0px;
    padding: 0px;
}

/* 레이아웃 */
nav {
    background-color: #c3f8ff;
    padding: 20px;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    font-weight: bold;
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    text-align: center;
    width: 80px;
}

nav a:hover {
    background-color: black;
    color: #c3f8ff;;
}

header {
    background-color: #FFEBAD;
    padding: 30px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}

header>section {
    display: flex;
}

.header_left, .header_right {
    width: 100%;
}

.header_left {
    font-weight: bolder;
}

main {
    background-color: #FFF6BF;
    display: flex;
}

img {
    border-radius: 50%;
}

main>section {
    margin: 20px;
    text-align: center;
    width: 25%;
}

main > section > div {
    font-size: 13px;
}

footer {
    padding: 20px;
    background-color: #ABD9FF;
    display: flex;
    bottom: 0;
    position: sticky;
}

footer>h2,ul {
    margin: 10px;
    width: 50%;
}

footer>h2 {
    font-size: 100%;
}

footer>ul>li {
    list-style: none;
    margin: 8px;
    font-size: 50%;
}


@media only screen and (max-width:600px) {

    header > section {
        flex-direction: column;
        align-items: center;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    main>section {
        margin: 0px;
        text-align: center;
        width: 100%;
    }
    footer ul {
        display: none;
    }
}