nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: center;
    width: 80px;
}

nav a:hover {
    background-color: black;
    color: #C3F8FF;
}

nav li {
    margin: 5px;
}